fastapi
uvicorn[standard]
pydantic
lightgbm
scikit-learn
pandas
numpy
websockets
python-dotenv
joblib
sqlalchemy
psycopg2-binary
torch
networkx
redis[asyncio]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
slowapi
imbalanced-learn
httpx
email-validator
